<div class="info-card light">
  <div class="img-card">
    <img src="../../../assets/images/desserts.svg">
  </div>
  <div class="text-card">
    <h2>Postres</h2>
  </div>

</div>


<div class="info-card medium">
  <div class="img-card">
    <img src="../../../assets/images/gift.svg">
  </div>
  <div class="text-card">
    <h2>Personalizacion & Regalos</h2>
  </div>
</div>


<div class="info-card dark">
  <div class="img-card">
    <img src="../../../assets/images/contact.svg">
  </div>
  <div class="text-card">
    <h2>Contacto</h2>
  </div>
</div>
