.info-card {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    color: rgb(51, 48, 48);
    cursor: pointer;
}

.info-card.light:hover,
.info-card.medium:hover,
.info-card.dark:hover {
    background-color: white;
    
    transition: background-color 500ms linear;
}

.info-card.light {
    background-color: #F4F0F9;
}

.info-card.medium {
    background-color:#DABECA;
}

.info-card.dark {
    background-color: #bf8b85cf;
}

.info-card .img-card {
    align-items: flex-end;
}

.info-card .img-card img {
    max-height: 100px;
}

.info-card .text-card {
    color: #7E5955;
    align-items: center;
}

.info-card .img-card,
.info-card .text-card {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}