.overlay-container{
    position: absolute;
    height: 100%;
    width: 100%;
}

.full-nav-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    padding: 15px;
}

.full-nav-container .logo-container,
.full-nav-container .nav-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    z-index: 500;
}

.full-nav-container .logo-container {
    flex: 0 1 130px;
    max-height: 130px;
    cursor: pointer;
}

.full-nav-container .nav-container .nav-container-link {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    text-decoration: none;
    color: #97313b;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
}

.full-nav-container .nav-container .nav-container-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #7c2730;
    transition: width .3s;
}

.full-nav-container .nav-container .nav-container-link:hover{
    color: #7c2730;
}

.full-nav-container .nav-container .nav-container-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.overlay-header {
    background-color: #bf8b85;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    left: -100vw;
}

.overlay-header.show {
    left: 100vw;
    transition: left 1s cubic-bezier(.5,1,.5,0);
}