.overlay-container{
    position: absolute;
    height: 100%;
    width: 100%;
}

.full-nav-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    padding: 15px;
}

.full-nav-container,
.full-nav-container.home {
    color: #815b57;
}

.full-nav-container .nav-container .nav-container-link:hover,
.full-nav-container.home .nav-container .nav-container-link:hover {
    color: #a37570;
    transition: color 0.5s;
}

.full-nav-container .nav-container .nav-container-link::after,
.full-nav-container.home .nav-container .nav-container-link::after {
    background: #a37570;
}

.full-nav-container.load,
.full-nav-container.load .nav-container .nav-container-link:hover {
    color: #BF8B85;
}

.full-nav-container.load .nav-container .nav-container-link:hover::after {
    width: 0;
}

.full-nav-container.info,
.full-nav-container.info .nav-container .nav-container-link:hover {
    color: white;
}

.full-nav-container.info .nav-container .nav-container-link::after{
    background: white;
}

.full-nav-container.menu,
.full-nav-container.menu .nav-container .nav-container-link:hover {
    color: #b25f80;
}

.full-nav-container.menu .nav-container .nav-container-link.active,
.full-nav-container.menu .nav-container .nav-container-link:hover {
    color: #df7ca4;
    transition: color 0.5s;
}

.full-nav-container.menu .nav-container .nav-container-link::after{
    background: #df7ca4;
}

.full-nav-container.services,
.full-nav-container.services .nav-container .nav-container-link:hover {
    color: rgb(199, 138, 26);
}

.full-nav-container.services .nav-container .nav-container-link::after{
    background: rgb(199, 138, 26);
}

.full-nav-container.contact,
.full-nav-container.contact .nav-container .nav-container-link:hover {
    color: #EEE6DE;
}

.full-nav-container.contact .nav-container .nav-container-link::after{
    background: #EEE6DE;
}

.full-nav-container .logo-container,
.full-nav-container .nav-container {
    display: flex;
    flex: 1 1 0;
    z-index: 500;
    justify-content: center;
}

.full-nav-container .logo-container {
    flex: 0 1 130px;
    max-height: 130px;
    cursor: pointer;
    padding: 0 10px;
}

.full-nav-container .nav-container .nav-container-link {
    display: flex;
    flex: 0 1 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
}

.full-nav-container .nav-container .nav-container-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width .3s;
}

.full-nav-container .nav-container .nav-container-link:hover::after,
.full-nav-container .nav-container .nav-container-link.active::after {
    width: 100%;
    transition: width .3s;
}

.overlay-header {
    background-color: #bf8b85;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    left: -100vw;
}

.overlay-header.show {
    left: 100vw;
    transition: left 1s cubic-bezier(.5,1,.5,0);
}