<!-- <div #overlay_header class="overlay-header"></div>
-->
<app-transition-overlay class="overlay-container" [nav_link]="nav_link"></app-transition-overlay>

<div class="full-nav-container">
  <nav class="nav-container">

    <img src="/assets/images/logo.png" class="logo-container" (click)="handleNavigation('home')">

    <a class="nav-container-link" [ngClass]="(sel_navigation === 'info')?'active':''"
      (click)="handleNavigation('info')">¿Quiénes
      somos?</a>

    <a class="nav-container-link" (click)="handleNavigation('menu')">Guía de postres</a>

    <a class="nav-container-link" (click)="handleNavigation('services')">Servicios</a>

    <a class="nav-container-link" (click)="handleNavigation('contact')">Contacto</a>

  </nav>
</div>
