.transition-content-overlay {
    background-color: #bf8b85;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: none;
}


.transition-content-overlay.show-animation {
    animation-name: show-me;
    animation-duration: 500ms;
}

.transition-content-overlay.hide-animation {
    animation-name: hide-me;
    animation-duration: 300ms;
}

.transition-content-overlay.show-animation,
.transition-content-overlay.hide-animation {
    display: block;
    z-index: 600;
}

@keyframes show-me {
    0%   {left:-100vw;}
    100%  {left:0px;}
  }

  @keyframes hide-me {
    0%   {left:0vw;}
    100%  {left:100vw;}
  }

/*
.transition-content-overlay.show {
    left: 0;
    transition: left 1s cubic-bezier(.5,1,.5,0);
}*/