.transition-overlay {
    background-color: #e7d1ce;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    left: -100vw;
}

/*
.transition-overlay.show {
    left: 0;
    transition: left 1s ease-out;
}*/


.transition-overlay.show {
    left: 100vw;
    transition: left 1s cubic-bezier(.5,1,.5,0);
}