.header-container {
    display: flex;
    flex: 2 1 auto;
    background-color: #eee6de;
    position: relative;
}

.content-container {
    display: flex;
    flex: 1 1 auto;
    background-color: #fcf1df;
    position: relative;
}

.footer {
    display: flex;
    flex: 0 1 auto;
    background-color: #e5b181;
    justify-content: center;
    align-items: center;
}
.content-container > router-outlet {
    display: block;
    flex: 0;
}
.content-container > ::ng-deep * {
    flex: 1 1 auto;
    display: flex;
}

.overlay-container {
    position: absolute;
    height: 100%;
    width: 100%;
}