/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: 'Alegreya SC', serif;
    font-feature-settings: "smcp" on;
    overflow-x: hidden;
    display: flex;
    flex: 1 1 auto;
    height: -webkit-fill-available;
}

app-root {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
}
